@model ProyectoP1_final.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Esta reserva ya no seguira estado efectiva</h3>
<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacion.HabitacionID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Huesped)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Huesped.HuespedID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
